<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <meta name="format-detection" content="telephone=no">
    {block name="seo"}{/block}
    <link rel="stylesheet" type="text/css" href="/static/css/reset.css">
    <link rel="stylesheet" type="text/css" href="/static/css/mstyle.css">
    {block name="css"}{/block}
    <script src="https://libs.cdnjs.net/jquery/3.3.1/jquery.min.js"></script>
</head>

<body class="bg-gray" style="padding-top: 0px; zoom: 1;">
{block name="content"}
{/block}
<script src="/static/js/index.js"></script>
{include file="pub/others"}
</body>

</html>