<aside class="user-sidebar pull-left">
    <section class="user-info">
        <div class="avatar">
            <img src="/static/images/mrtx.gif" alt="">
        </div>
        <h1 style="text-align: left;">
            <span style="width:120px;margin:0 0 0 50px;white-space: nowrap;overflow: hidden;text-overflow: ellipsis;line-height: initial;">
                {$user.nick_name|default="无昵称"}
            </span>
            <i class="icon icon-edit" onclick="window.location.href = &#39;/userinfo/&#39;;" style="cursor:pointer"></i>
        </h1>
        <p style="text-align: center;white-space: nowrap;overflow: hidden;text-overflow: ellipsis; line-height: initial;"></p>
    </section>
    <ul class="user-menu">
        <li><a class="active" href="/ucenter/bookshelf"><i class="icon icon-bookrack"></i><span>我的书架</span></a></li>
        <li><a href="/ucenter/wallet"><i class="icon icon-wallet"></i><span>我的钱包</span></a></li>
        <li><a href="/ucenter/buy"><i class="icon icon-cart"></i><span>我购买的作品</span></a></li>
        <li><a href="/ucenter/vip"><i class="sp sp-icon-vip"></i><span>VIP会员</span></a></li>
        <li><a href="/ucenter/security"><i class="icon icon-password"></i><span>安全中心</span></a></li>
        <li><a href="/logout"><i class="icon icon-down"></i><span>退出</span></a></li>
    </ul>
</aside>