{extend name="pub/base2" /}
{block name="title"}
<title>图片编辑</title>
{/block}

{block name="body"}
<article class="clearfix pd-20">
    <form action="{:url('edit')}" method="post" class="form form-horizontal" enctype="multipart/form-data">
        <input type="hidden" value="{$id}" name="id">
        <input type="hidden" value="{$chapter_id}" name="chapter_id">
        <input type="hidden" value="{$book_id}" name="book_id">
        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>图片序：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="{$order}" name="pic_order">
            </div>
        </div>

        <div class="row clearfix">
            <label class="form-label col-xs-4 col-sm-3">图片：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="file" name="image" class="input-text">
            </div>
        </div>

        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;提交&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript">
    $(function(){
        $("form").validate({
            rules:{
                pic_order:{
                    required:true,
                    number: true
                }
            },
            onkeyup:false,
            focusCleanup:true,
            success:"valid",
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
{/block}