{extend name="pub/base" /}
{block name="seo"}
<title>{$site_name}-书架</title>
{/block}
{block name="content"}
{include file="pub/top2" /}
<ul class="book-list">

</ul>
<script>
    var keys = [];
    for (i = 0; i < window.localStorage.length; i++){
        var key = localStorage.key(i);
        if(key.indexOf('manhua_id') > -1){
            keys.push(key);
        }
    }
    if (keys.length > 10){
        window.localStorage.removeItem(keys[0]);
    }

    for (i = 0; i < window.localStorage.length; i++){
        var key = localStorage.key(i);
        if(key.indexOf('manhua_id') > -1){
            var arr = JSON.parse(window.localStorage.getItem(key));
            var src = "{$img_site}/static/upload/book/"+arr[0]+"/cover.jpg";
            if (arr[5] != undefined){
                src = arr[5];
            }
            var $li = '<li><div class="book-list-cover"><a href="chapter/'+arr[2]+'">'+
                '<img class="book-list-cover-img" src='+src+'>'+'</a></div><div class="book-list-info">'+
                '<a href="chapter/'+arr[2]+'">'+'<p class="book-list-info-title">'+arr[1]+'</p></a>'+
                    '<p class="book-list-info-bottom">&nbsp;</p>'+
                '<p class="book-list-info-bottom"><a href="#" style="color:#666;"><span class="book-list-info-bottom-item">'+
                arr[4]+'</span></a>'+
                '<p class="book-list-info-bottom"><a href="chapter/'+arr[2]+'" style="color:#666;"><span class="book-list-info-bottom-item">最后阅读：'+
                arr[3]+'</span></a></p></div>';
            $("ul.book-list").append($li);
        }
    }
</script>
{/block}