{extend name="pub/pc_base" /}
{block name="seo"}
<title>{$site_name}-书架</title>
{/block}
{block name="content"}
<section class="box container pb40 overflow-Show" style="min-height:400px;">
    <div>您的阅读历史</div>
    <div class="box-body">
        <ul class="mh-list col7">

        </ul>
    </div>
</section>
<script>
    var keys = [];
    for (i = 0; i < window.localStorage.length; i++){
        var key = localStorage.key(i);
        if(key.indexOf('manhua_id') > -1){
            keys.push(key);
        }
    }
    if (keys.length > 10){
        window.localStorage.removeItem(keys[0]);
    }
    for (i = 0; i < window.localStorage.length; i++){
        var key = localStorage.key(i);
        if(key.indexOf('manhua_id') > -1){
            var arr = JSON.parse(window.localStorage.getItem(key));
            var src = "{$img_site}/static/upload/book/"+arr[0]+"/cover.jpg";
            if (arr[5] != undefined){
                src = arr[5];
            }
            var $li = '<li><div class="mh-item"><a href="chapter/'+arr[2]+'">' +
                    '<p class="mh-cover" style="background-image: url('+src+')"></p></a><div class="mh-item-detali"><h2 class="title">'+
                    '<a href="/chapter/'+arr[2]+'" style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis;">'+arr[4]+
                    '</a></h2><p class="zl"><span>评分:</span><span class="mh-star-line star-5"></span></p>'+
                    '<p class="chapter" style="width: 181px;"><span>最后阅读:</span>'+
                    '<a href="/chapter/'+arr[2]+'">'+arr[3]+'</a></p></div></div></li>';

            $("ul.mh-list").append($li);
        }
    }
</script>
{/block}