<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8">
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />

    <link href="/static/admin/css/H-ui.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/css/H-ui.ucenter.css" rel="stylesheet" type="text/css" />
    <link href="/static/admin/lib/Hui-iconfont/1.0.9/iconfont.min.css" rel="stylesheet" type="text/css" />
    <title>用户注册-{$site_name}</title>
</head>
<body>
<div class="login-wraper">
    <div class="login-form radius box-shadow">
        <div class="clearfix pt-20">
            <i class="iconpic iconpic-logo"></i>
        </div>
        <div class="row clearfix form-title">网站注册</div>
        <form class="form form-horizontal" id="form-reg">
            <div class="row clearfix">
                <input type="text" class="input-text radius size-L" name="username" id="username" value="" placeholder="用户名">
            </div>
            <div class="row clearfix">
                <input type="password" class="input-text radius size-L" name="password" id="password" value="" placeholder="密码">
            </div>
            <div class="row clearfix">
                <input type="password" class="input-text radius size-L" name="password2" id="password2" value="" placeholder="确认密码">
            </div>
            <div class="row clearfix">
                <button class="btn btn-primary btn-block radius size-L">注 册</button>
                <div class="line mt-20"></div>
            </div>
            <div class="row clearfix">已有账户 <a href="{:url('ucenter/account/login')}"><strong>登 录</strong></a></div>
        </form>
    </div>
</div>
<script src="https://cdn.bootcss.com/jquery/1.9.1/jquery.js"></script>
<script src="/static/admin/js/H-ui.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.19.0/jquery.validate.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.19.0/additional-methods.min.js"></script>
<script src="https://cdn.bootcss.com/jquery-validate/1.19.0/localization/messages_zh.min.js"></script>
<script type="text/javascript" src="/static/admin/lib/layer/3.1.1/layer.js"></script>
<script type="text/javascript">
    $(function() {
        $("#form-reg").validate({
            rules: {
                username: {
                    required: true,
                    rangelength: [6, 20]
                },
                password: {
                    required: true,
                    rangelength: [6, 16]
                },
                password2: {
                    required: true,
                    equalTo:"#password"
                }
            },
            messages: {
                username: {
                    required: "用户名不能为空",
                    rangelength: "用户名长度6-20个字符"
                },
                password: {
                    required: "密码不能为空",
                    rangelength: "密码长度6-16个字符"
                },
                password2: {
                    required: "确认密码不能为空",
                    equalTo:"两次密码输入不一致"
                }
            },
            onkeyup: false,
            focusCleanup: false,
            submitHandler: function(form) {
                $(".label.error").hide();
                reg();
            }
        });
    });

    function reg() {
        $.ajax({
            type: 'POST',
            url: "{:url('register')}",
            data: $('#form-reg').serialize(),
            dataType: 'json',
            success: function (data) {
                var result = data;
                if (result.err == 0){ //注册成功
                    layer.msg(result.msg, {icon: 1, time:1000}, function () {
                        location.href = '{:url("account/login")}';
                    });
                } else {
                    layer.msg(result.msg, {icon: 2});
                }
            },
            error: function (data) {
                console.log(data.msg);
            },
        });
    }
</script>
</body>
</html>
<!--H-ui前端框架提供前端技术支持 h-ui.net @2016-03-20 -->
