<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    {block name="seo"}{/block}
    <link rel="shortcut icon" href="/static/images/favicon.ico">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <link href="/static/css/userinfo-vendor.css" rel="stylesheet" type="text/css">
    <link href="/static/css/dm5_style.css" rel="stylesheet" type="text/css">
    {block name="css"}{/block}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>

<body class="white">
<!-- 页面头部 -->
<header class="header container-fluid " style="left: 0px;">
    <div class="container">
        <!-- 左侧logo -->
        <a href="/">
            <img class="header-logo" src="/static/images/header-logo.png">
        </a>
        <!-- 左侧菜单标题 -->
        <ul class="header-title">
            <li><a href="/">首页</a></li>
            <li><a href="/booklist?end=0">连载</a></li>
            <li><a href="/booklist?end=1">完结</a></li>
            <li><a href="/rank">排行</a></li>
            <li><a href="/booklist"><i class="icon icon-cat" style="font-size:19px;vertical-align: sub;"></i></a></li>
        </ul>
        <script>
            var url = location.href;
            if (url.indexOf('booklist') > -1) {
                if (url.indexOf('end=0') > -1) {
                    $('.header-title li a').eq(1).addClass('active');
                } else if (url.indexOf('end=1') > -1) {
                    $('.header-title li a').eq(2).addClass('active');
                } else {
                    $('.header-title li a').eq(4).addClass('active');
                }
            }  else if (url.indexOf('rank') > -1) {
                $('.header-title li a').eq(3).addClass('active');
            } else if (url.indexOf('search') > -1) {

            } else {
                $('.header-title li a').eq(0).addClass('active');
            }
        </script>
        <!-- 搜索栏 -->
        <div class="header-search">
            <input id="txtKeywords" type="text" value="">
            <a id="btnSearch" href="javascript:;">搜索</a>
        </div>
        <ul class="header-bar">
            <li class="vip">
                <a href="#">
                    <div class="header-vip"></div>
                    <p>VIP</p>
                </a>
            </li>
            <li class="hover">
                <a href="/history" target="_blank">
                    <i class="icon icon-clock"></i>
                    <p>历史</p>
                </a>
            </li>
            <li class="hover">
                <a href="/bookshelf" data-isload="0" target="_blank">
                    <i class="icon icon-fav"></i>
                    <p>收藏</p>
                    <span class="red-sign"></span>
                </a>
            </li>
        </ul>
        <div class="header_login hover">
            {if $Think.Session.xwx_user == null}
            <a href="/login" class="js_header_login_btn">
            {else /}
            <a href="/userinfo" class="js_header_login_btn">
            {/if}
                <img data-isload="0" class="header-avatar" src="/static/images/mrtx.gif">
            </a>
        </div>
    </div>
</header>
{block name="content"}{/block}
<div class="footer mt16 cf">
    <div class="footer-wrap">
        <div class="footer-cont container">
            <p>{$site_name}为纯属个人爱好收集。并不具备版权，所以免费分享供朋友们阅读，朋友们如果喜欢，且有支付能力，请您一定支持正版.本站收集纯属无奈，中国有太多的人真的没有支付能力。我希望我们若干年后，拥有了支付能力，一定像我去看周星驰的大话西游一样。还他一张票钱。
            </p>
            <p>Copyright © 2016-2018 <em>/</em> {$url} <em>/</em> All Rights Reserved <em>/</em>
                <a href="https://jinshuju.net/f/cBs5xb" target="_blank" rel="nofollow">版权投诉</a> 联系我们
            </p>
        </div>
    </div>
</div>
<!--https://jinshuju.net/f/26RWZf-->
<div class="alertTop_1" style="display: none;">
    <p id="alertTop_1"></p>
</div>
<script src="/static/js/user-booklist.js"></script>
{include file="./template/default/pub/others.html"}
</body>

</html>